user root;

events {
  worker_connections 1024;
}

http {
  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  access_log /var/log/proxxy/access.log;
  error_log  /var/log/proxxy/error.log;

  proxy_temp_path   /var/cache/proxxy/tmp;

  server {
    listen 80;
    server_name _;

    location / {
      default_type text/plain;
      return 200 "200 OK";
    }
  }

  {% for name, params in config['backends'].iteritems() %}
  proxy_cache_path  /var/cache/proxxy/{{ name }} levels=1:2 keys_zone={{ name }}:8m max_size={{ params['size'] }} inactive={{ params['ttl'] }};

  server {
    listen 80;
    server_name {{ name }};

    location / {
      add_header X-Proxxy $upstream_cache_status;
      proxy_pass {{ params['path'] }};
      proxy_cache {{ name }};
      proxy_cache_valid {{ params['ttl'] }};
    }
  }
  {% endfor %}
}
