server {
  listen {{ elasticsearch.public_port }};

  location / {
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/elasticsearch.htpasswd;
    add_header 'Access-Control-Allow-Origin' "$http_origin";
    add_header 'Access-Control-Allow-Credentials' 'true';
    proxy_pass http://localhost:9200;
    proxy_hide_header Access-Control-Allow-Origin;
    proxy_hide_header Access-Control-Allow-Credentials;
  }
}
