export S3_BUCKET="{{ proxxy.packer.s3_bucket }}"
export AWS_ACCOUNT_ID="{{ proxxy.packer.aws_account_id }}"
export AWS_ACCESS_KEY="{{ proxxy.packer.aws_access_key }}"
export AWS_SECRET_KEY="{{ proxxy.packer.aws_secret_key }}"
export EC2_CERT="/home/{{ ansible_ssh_user }}/.ec2/cert.pem"
export EC2_PRIVATE_KEY="/home/{{ ansible_ssh_user }}/.ec2/pk.pem"
